html, body, header, footer, hgroup, nav, main, article, section, figure, figcaption, h1, h2, h3, ul, li, body, div, p, img
{
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  font-family: 'Merriweather', serif;
  line-height: 1.2;
}
body{
   background-color: white;
   width: 960px;
}
header, main{
   margin-right: 30px;
   margin-left: 30px;
}
header{
   background-color: #24292e;
   height: 75px;
   background-size: cover;
   vertical-align: middle;
}
 ul#top p{
     display: inline;
 }
#top{
   padding-top: 20px;
}
#FNM{
   color: #0366d6;
   padding-left: 15px;
}
#N{
   color: white;
}
#FNM, #N{
   font-weight: bold;
   font-size: 30px;
   font-style: italic;
}
#searchbar{
   margin-left: 30px;
   border: none;
   color: gray;
   background-color: white;
   font-size: 12px;
}
#tab1{
   margin-left: 50px;
}
#tab2, #tab3{
   margin-left: 15px;
}
#tab1, #tab2, #tab3{
   color: white;
}
a:link, a:visited, a:active{
   text-decoration: none;
   color: white;
}
a:hover{
   text-decoration: none;
   color: #0366d6;
}
main{
   background-color: gray;
   margin-top: 0;
   margin-bottom: 30px;
}
h1{
   color: white;
   font-size: 30px;
   font-weight: bold;
   padding-top: 20px;
   padding-bottom: 20px;
   background-color: #0366d6;
   border-top: none;
   border-bottom: 1px solid white;
   text-align: center;
}
h2{
   color: white;
   font-size: 24px;
   padding: 10px;
   font-weight: normal;
   margin-left: 15px;
   margin-right: 15px;
}
#description{
   margin-top: 20px;
   color: white;
   font-size: 16px;
   font-weight: normal;
   margin-right: 30px;
   margin-left: 30px;
   border: 1px solid white;
   padding: 5px;
   text-align: left;
   line-height: 1.5;
   margin-bottom: 20px;
 }
#more{
   color: gray;
   font-style: italic;
   font-size: 14px;
}
div#top25{
   margin-top: 40px;
   margin-left: 70px;
   margin-right: 70px;
   background-color: #24292e;
   border: 1px solid white;
   margin-bottom: 20px;
   box-align: center;
}
#list{
   color: white;
   font-weight: lighter;
   line-height: 2;
   text-align: left;
   padding: 10px;
   margin-left: 140px;
   border: 1px solid white;
   margin-top: 20px;
}
th, td{
   border: 1px solid white;
   border-collapse: collapse;
   padding: 5px;
   margin: 0;
   border-spacing: 0;
}
